<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <test thread-count="1" parallel="methods" name="PriceAssertTest">
        <classes>
            <class name="FolderTest.GetProduct">
                <methods>
                    <include name="addProduct"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>